arrowParens: always
bracketSpacing: true
embeddedLanguageFormatting: auto
endOfLine: lf
htmlWhitespaceSensitivity: css
insertPragma: false
bracketSameLine: false
jsxSingleQuote: false
parser: typescript
printWidth: 80
proseWrap: preserve
quoteProps: as-needed
requireConfig: true
requirePragma: false
semi: true
singleAttributePerLine: false
singleQuote: false
tabWidth: 2
trailingComma: "es5"
useTabs: false
vueIndentScriptAndStyle: false
